/* (A) TABS CONTAINER */
@import url('acordeon.css');

.tab {
    position: relative;
    margin-top: 80px;
    width: auto;
    margin-left: -7px;
}


    /* (C) TAB LABEL */
    .tab label {
        display: block;
        margin-top: 10px;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        background: #626c7d;
        cursor: pointer;
    }

    /* (D) TAB CONTENT */
    .tab .tab-content {
        background: #ccdef9;
        /* CSS ANIMATION WILL NOT WORK WITH AUTO HEIGHT */
        /* THIS IS WHY WE USE MAX-HEIGHT INSTEAD */
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
    }

        .tab .tab-content p {
            padding: 10px;
        }

    /* (E) OPEN TAB ON CHECKED */
    .tab input:checked ~ .tab-content {
        max-height: 100vh;
    }

    /* (F) EXTRA - ADD ARROW INDICATOR */
    .tab label::after {
        content: "\25b6";
        position: absolute;
        right: 24px;
        top: 26px;
        display: block;
        transition: all 0.4s;
    }

    .tab input:checked ~ label::after {
        transform: rotate(90deg);
    }
