body {
    color: #000 !important;
    overflow-x: hidden !important;
    height: 100% !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    padding: 0px !important
}

.container-fluid1 {
    padding-top: 120px !important;
    padding-bottom: 120px !important
}

.card1 {
    box-shadow: 0px 4px 8px 0px #7986CB !important
}

input {
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px !important;
    box-sizing: border-box;
    background-color: #616161 !important;
    color: #fff !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    width: 180px !important
}

input1:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8 !important;
    outline-width: 0 !important
}

::placeholder {
    color: #fff !important;
    opacity: 1 !important
}

:-ms-input-placeholder {
    color: #fff !important
}

::-ms-input-placeholder {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0 !important
}

.datepicker {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    padding: 10px !important
}

.datepicker-dropdown:after {
    border-bottom: 6px solid #000 !important
}

thead tr:nth-child(3) th {
    color: #fff !important;
    font-weight: bold !important;
    padding-top: 20px !important;
    padding-bottom: 10px !important
}

.dow,
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important
}

    .old-day:hover,
    .day:hover,
    .new-day:hover,
    .month:hover,
    .year:hover,
    .decade:hover,
    .century:hover {
        border-radius: 6px !important;
        background-color: #eee;
        color: #000 !important
    }

.active {
    border-radius: 6px !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: #000 !important
}

.disabled {
    color: #616161 !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
    color: #fff !important;
    opacity: 0.8
}

    .prev:hover,
    .next:hover,
    .datepicker-switch:hover {
        background-color: inherit !important !important;
        opacity: 1 !important
    }

.cell {
    border: 1px solid #BDBDBD !important;
    margin: 2px !important;
    cursor: pointer !important
}

    .cell1hover {
        border: 1px solid #3D5AFE !important
    }

    .cell.select {
        background-color: #3D5AFE !important;
        color: #fff !important
    }

.fa-calendar {
    color: #fff !important;
    font-size: 30px !important;
    padding-top: 8px !important;
    padding-left: 5px !important;
    cursor: pointer !important
}
