
* {
    padding: 0;
    margin: 0;

 

    
}

 

body {
    font:17px Tahoma;

 

}

 

h1 {
    font: bold 32px Times;
    color: #000;
    text-align: center;
    padding: 20px 0;
}

 

#container {
    width: 700px;
    margin: 10px auto;
}

 

.mGrid {
    width: 100%;
    background-color: #F0F0F0;
    padding: 30px 30px 30px 30px;
    margin: 0px 0px 0px 0px;
    border: solid 1px #525252;
    border-collapse: collapse;
    width: 1138px;
    text-align: center;
}

 

    .mGrid td {
        padding: 2px;
        border: solid 1px #D3D3D3;
        color: #000000;
    }

 

    .mGrid th {
        padding: 4px 2px;
        color: #fcfcfc;
        background: #0c3254 url(grd_head.png) repeat-x top;
        border-left: solid 1px #024959;
        font-size: 0.9em;
    }

 

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

 

    .mGrid .pgr {
        background: #0026ff url(grd_pgr.png) repeat-x top;
    }

 

        .mGrid .pgr table {
            margin: 5px 0;
        }

 

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #4cff00;
            line-height: 12px;
        }

 

        .mGrid .pgr a {
            color: #ffd800;
            text-decoration: none;
        }

 

            .mGrid .pgr a:hover {
                color: #ff0000;
                text-decoration: none;
            }
 
















