
* {
    box-sizing: border-box;
}



.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

#carrusel {
    float: none;
    width: 1000px;
    overflow: hidden;
    height: 203px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

    #carrusel .left-arrow {
        position: absolute;
        left: 50px;
        z-index: 1;
        top: 50%;
        margin-top: -9px;
    }

    #carrusel .right-arrow {
        position: absolute;
        right: 50px;
        z-index: 1;
        top: 50%;
        margin-top: -9px;
    }

.carrusel {
    width: 8000px;
    left: 0px;
    position: absolute;
    z-index: 0;
}

    .carrusel > div {
        float: left;
        height: 203px;
        margin-right: 5px;
        width: 1000px;
        text-align: center;
    }

    .carrusel img {
        cursor: pointer;
    }

.product {
    border: #CCCCCC 1px solid;
}